# The startup script for the clock.
# This should go into /etc/systemd/system/

[Unit]
Description = Book Quote Clock
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/path/to/clock-folder/
ExecStart=sudo python3 /path/to/clock-folder/clock.py
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target